@import url('https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css');

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #edebe9;
    margin: 0;
    padding: 0;
}

.btn.btn-link {
    padding: 0;
    border: 0;
    vertical-align: top;
}

.sign-in, .configure-board {
    background: #fff;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 50rem;
    display: block;
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
}

.list-editor {
    background: #fff;
    padding: 1rem;
    margin: 1rem 1rem;
    display: block;
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
}

    .list-editor .editor-level {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-editor > .editor-level > .editor-node {
        border-left-width: .3rem;
        border-left-style: solid;
        margin: 0 0 .5rem 0;
        padding: .5rem 0 0 1rem;
    }

    .list-editor .editor-node {
        padding: 0;
        margin: 0;
    }

        .list-editor .editor-node .editor-level {
            margin-left: 2rem;
        }

        .list-editor .editor-node textarea {
            padding: .2rem;
            width: 100%;
            height: 1.8rem;
            padding: .1rem;
            overflow: hidden;
            border: 1px solid #bebbb8;
            border-radius: 0 !important;
            outline: 0 !important;
        }